<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This website was created XYZ. It uses external weather data</p>
    <img src="/img/Node.js_logo.png">
    {{>footer}}
</body>

</html>